@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/IBMPlexSansCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
body {
  font-family: 'MyFont', sans-serif;
}